.contacts {
    max-width: 320px;   

    td {
        width: 100%;

        &:last-child {
            padding-left: 50px;
        }

        a {
            display: block;

            white-space: nowrap;
            color: #fff;
            opacity: 0.5;
            text-decoration: none;

            height: 100%;
            padding: 7px 0;

            transition: opacity .3s ease, text-decoration .3s ease;


            &:hover {
                opacity: 1;
                text-decoration: underline;
            }
        }
    }
}