.list-team {
    &.list {
        display: block;

        @include media-breakpoint-up(md) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include media-breakpoint-up(xl) {
            grid-column-gap: 40px;
        }
    }

    &.slider {
        display: block;

        .slick-track {
            display: flex;
        }
    }

    .card-team {
        margin: 0 auto;
    }
}