// @import '../assets/fonts/fontello/css/fontello.css';
@import '../assets/fonts/bebasneue/bebasneue.css';
@import '../assets/fonts/proximaNova/proximaNova.css';


h1,
h2,
h3,
.h1,
.h2,
.h3 {
    text-transform: uppercase;

    span {
        font-size: inherit;
    }
}

// h1,
// .h1 {
//     font-size: 2rem;
// }

h2,
.h2 {
    font-size: 1.7rem;
}

h3,
.h3 {
    font-size: 1.5rem;
}

p {
    font-size: 14px;
    opacity: 0.5;
    line-height: 140%;
    font-weight: 200;
}

p+p {
    margin-top: 14px;
}

.text-wrapper {}

span {
    font-size: 14px;
}

p,
span {
    @include media-breakpoint-up(xxl) {
        font-size: 18px;
    }
}

a {
    text-decoration: none;
}