
.i-viber:before { content: '\e800'; } /* '' */
.i-logo:before { content: '\e801'; } /* '' */
.i-right-open:before { content: '\e802'; } /* '' */
.i-left-open:before { content: '\e803'; } /* '' */
.i-minus:before { content: '\e804'; } /* '' */
.i-twitter:before { content: '\f099'; } /* '' */
.i-facebook:before { content: '\f09a'; } /* '' */
.i-instagram:before { content: '\f16d'; } /* '' */
.i-telegram:before { content: '\f2c6'; } /* '' */